.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.qr-component {
  background-color: #f1f1f1;
  width: 15vh;
  height: 40vhvh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
.img-container {
  overflow: hidden;
  padding: 20px 20px 0 20px;
}
img {
  max-width: 100%;
  border-radius: 12px;
}
.text-container {
  overflow: hidden;
  padding: 0 20px 10px 20px;
  text-align: center;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
